:root {
  --main-color: #119d44;
  --text-color: #414141;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}
main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}
hr {
  border: none;
  height: 1px;
  background: #ccc;
  margin: 30px 0px;
}
ul {
  list-style: none;
  padding-top: 20px;
}
ul > li {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding-left: 20px;
  color: #414141;
  margin-top: 4px;
  font-family: 'Bebas Neue', cursive;
}
ul > li span {
  display: block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgb(145, 145, 145);
  max-width: 400px;
  padding-bottom: 10px;
}
ul > li:first-child {
  margin-top: 0px;
}
ul > li:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  left: 0px;
  top: 8px;
  background: var(--main-color);
}
p {
  padding-top: 20px;
}
h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 1px;
}
h3 {
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1px;
  padding-top: 30px;
}

.subtitle {
  font-family: 'Bebas Neue', cursive;
  color: var(--main-color);
  font-size: 30px;
  padding-bottom: 10px;
}

table {
  border: 1px solid #414141;
  width: 100%;
  margin-bottom: 50px;
}
table tr {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table td {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  padding: 10px 20px;
  width: 50%;
}

.table_title {
  width: 100%;
}

.table_title td {
  background: #414141;
  border: 1px solid #414141;
  color: #fff;
  width: 100%;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}
a {
  text-decoration: none;
  position: absolute;
  right: 20px;
  color: #fff;
  background: #119d44;
  padding: 4px 30px;
  border-radius: 4px;
}
